body{
	width: 100%;
	height: 100%;
}
*{
	padding: 0;
	margin: 0;
}
ul{
	margin: 0;
	padding: 0;
}
li{
	list-style: none;
}
a{
	text-autospace: none;
}
.index_content{
	width: 100%;
	height: 100%;
}
.top_nav{
	width: 100%;
	height: 107px;
	line-height: 107px;
	background:rgba(45,41,76,1);
}
.top_content{
	width: 100%;
	display: flex;
	flex-direction: row;
}
.top_logo{
	width: 50%;
	text-align: center;
}
.top_logo img{
	width: 498px;
	height: 80px;
	vertical-align: middle;
}
.top_list{
	
	width: 50%;
}
.top_list li{
	float: left;
	width: 20%;
	
	text-align: center;
	margin-left: 10px;
	margin-right: 10px;
}
.top_list li a{
	color: #fff;
	font-size: 18px;
	text-decoration: none;
}
.active{
	border-bottom: 2px solid #fff;
	margin-top: -10px;
}
.banner_img{
	width: 100%;
	height: 436px;
}
.swiper-container{
	width: 100%;
	height: 436px;
}
.swiper-slide{
    width: 100%;
    height: 436px;
}
.swiper-slide img{
    width: 100%;
    height: 100%;
}
.product_presentation{
	width: 100%;
	height: 224px;
	line-height: 224px;
	text-align: center;
}
.product_presentation img{	
	vertical-align: middle;
	width: 20%;
}
.product_list{
	width: 100%;
	height:330px;
	background:rgba(248,248,248,1);
	padding-top: 60px;
}
.product_li{
	width: 80%;
	margin-left: 10%;	
}
.product_li li{
	width:25%;
	height:226px;
	float: left;
	text-align: center;
	margin-bottom: 60px;
	
}
.product_li li img{
	width: 90%;
	margin-left: 5%;
	height:100%;
	border-radius: 6px;
}
.product_li li div{
	font-size: 22px;
	color: #666;
}
.company_introduction{
	margin-top: 60px;
	width: 100%;
	height: 574px;
	background: url(../img/img4.png) no-repeat;
	background-size: 100% 100%;
	color: #fff;
	
}
.mien_img{
	width: 70%;
	margin-left: 15%;
}
.mien_img img{
	width: 100%;
	height: 100%;
}
.company_mien>.about_us_title{
	margin-bottom: 20px;
}
.diva{
	padding: 20px 100px;
}
.company_name{
	font-size: 50px;
	margin-top: 20px;
}
.introduction{
	margin-top: 20px;
	width: 50%;
	line-height: 30px;
}
.examine{
	margin-top: 40px;	
}
.examine a{
	color: #fff;
	text-decoration: none;
	padding: 10px 60px;
	background: #585285;
	border-radius: 60px;
	text-align: center;
}
.html_bottom{
	width: 100%;
	height: 445px;
	background: #1E2635;
}
.htmla{
	width: 70%;
	height: 110px;
	line-height: 110px;
    color: #fff;
	margin-left: 15%;		
}
.line{
	width: 100%;
	height: 1px;
	background: #fff;
	opacity:0.2;
}
.htmla img{
	vertical-align: middle;
	margin-right: 10px;
}
.htmla li{
	float: left;
	width: 30%;
	text-align: center;
}
.htmlb{
	width: 100%;
	display: flex;
	flex-direction: row;
	color: #fff;
}
.bottom_logo{
	width: 30%;
	height: 120px;
	line-height: 120px;
	text-align: right;
	font-size: 50px;
}
.small_title{
	width: 70%;
	line-height: 120px;
	margin-left: 40px;
	margin-top: 20px;
}
.small_title span{
	padding: 0 20px;
	font-size: 14px;
}
.bottom_logo img{
	width: 80px;
	height: 80px;
	vertical-align: middle;
}
.htmlc{
	width: 100%;
	display: flex;
	flex-direction: row;
	color: #fff;
}
.ewm{
	width: 40%;
	text-align: right;
}
.ewm img{
	width: 80px;
	height: 80px;
}
.small_titlea{
	width: 60%;
	margin-left: 20px;
	line-height: 24px;
	font-size: 12px;
}
.htmld{
	width: 100%;
	text-align: center;
	color: #fff;
	opacity: 0.2;
	margin-top:60px;
}
.content_us{
	width: 100%;
	margin: 40px 0;
}
.about_us_title{
	width: 100%;
	text-align: center;
}
.about_us_title img{
	width: 20%;
}
.lines{
	margin-top: 20px;
	width: 70%;
	margin-left: 15%;
	height: 4px;
	border-bottom: 1px dashed #2D294C;
	margin-bottom: 20px;
}
.us_content{
	margin-top: 20px;
	width: 70%;
	margin-left: 15%;
	line-height: 30px;
	font-weight: 600;
}
.company_picture{
	margin-top: 20px;
	width: 70%;
	margin-left: 15%;
}
.company_picture img{
	width: 100%;
	height: 100%;
}
.us_text{
	margin-top: 20px;
	width: 70%;
	height: 60px;
	line-height: 60px;
	margin-left: 15%;
	text-align: center;
	font-size: 24px;
	font-weight: 600;
}
.company_producs{
	width: 100%;
	margin: 40px 0;
}
.company_imga{
	width: 100%;
	text-align: center;
}
.company_imga img{
	width: 20%;
}
.product_text{
	margin-top: 20px;
	width: 70%;
	margin-left: 15%;
	line-height: 30px;
	font-weight: 600;
}
.products_list{
	width: 70%;
	margin-left: 15%;
	
}
.products_list li{
	display: flex;
	flex-direction: row;
	position: relative;
}
.left_img{
	width: 25%;
	height:162px ;
}
.left_img img{
	width: 90%;
	height: 100%;
}
.right_text{
	width: 75%;
}
.linesa{
	margin-top: 20px;
	width: 100%;
	height: 4px;
	border-bottom: 1px dashed #2D294C;
	margin-bottom: 20px;
}
.products_name{
	font-size: 24px;
	font-weight: 600;
}
.products_contents{
	margin-top: 10px;
	font-size: 18px;
	color: #434343;
}
.more_list{
	position: absolute;
	bottom: 10px;
	right: 20px;
	color: #2D294C;
}
.detail_content{
	width: 70%;
	margin-left: 15%;
	display: flex;
	flex-direction:row;
	margin-top: 40px;
}
.detail_img{
	width: 50%;
	text-align: right;
	margin-right: 20px;
}
.detail_img img{
	width: 100%;
	vertical-align: middle;
}
.detail_title{
	width: 50%;
	margin-left: 40px;
}
.detail_top{
	font-size: 20px;
	font-weight: 600;
}
.detail_text{
	margin-top: 10px;
	font-size: 16px;
	color: #434343;
	line-height: 30px;
}
.functiom_use{
	margin-top: 40px;
	width: 70%;
	margin-left: 15%;
}
.contact_us{
	width: 100%;
	height: 600px;
	background: url(../img/contact_us.png)no-repeat;
	background-size: 100% 100%;
	position: relative;
}
.us_tell{
	width: 70%;
	color: #fff;
	position: absolute;
	top:15%;
	left: 15%;
}
.tell_name{
	font-size: 22px;
}
.tell_num{
	font-size: 26px;
}
.position{
	width: 70%;
	position: absolute;
	bottom:20%;
	left: 15%;
	color: #fff;
	font-size: 26px;
}
